@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Reem+Kufi:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: 'Cairo', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-weight: 900;
    user-select: none;
}

:root {
    --main--color: #2f4f44;
    --second--color: rgba(255 127 80);
    --text--color: rgb(255, 255, 255);
    --text2--color: rgb(255, 255, 255);
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 15px 20px;
    color: var(--text--color);
    font-size: 18px;
    z-index: 99;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    top: 0;
}

header a {
    color: var(--main--color);
    font-weight: 1000;
    position: relative;
    margin-top: -11px;
}

header a::before {
    content: "في الفيزياء";
    position: absolute;
    top: 21px;
    font-size: 11px;
    right: 0;
    font-weight: 900;
    color: #006943;
}

.fa-book-open {
    margin-left: 7px;
    font-size: 1.5em;
    color: var(--main--color);
    text-decoration: underline;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3px;
}

header button {
    background-color: var(--main--color);
    color: var(--text2--color);
    padding: 6px 20px;
    border: none;
    border-radius: 1000px;
    transition: 0.2s;
    border: 2px solid var(--main--color);
}

header button:hover {
    border: 2px solid var(--main--color);
    background-color: white;
    color: var(--main--color);
}

.wrapper {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
}

.switch {
    transform: translateY(-200px) scale(1.2);
    margin-top: -80px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    height: 20px;
}

.card-side::before {
    position: absolute;
    content: 'تسجيل الدخول';
    left: -110px;
    top: 0;
    width: 100px;
    text-decoration: underline;
    color: var(--font-color);
    font-weight: 600;
}

.card-side::after {
    position: absolute;
    content: 'إنشاء حساب';
    left: 70px;
    top: 0;
    width: 100px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 600;
}

.toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-colorcolor);
    transition: 0.3s;
}

.slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    left: -2px;
    bottom: 2px;
    background-color: var(--bg-color);
    box-shadow: 0 3px 0 var(--main-color);
    transition: 0.3s;
}

.toggle:checked+.slider {
    background-color: var(--input-focus);
}

.toggle:checked+.slider:before {
    transform: translateX(30px);
}

.toggle:checked~.card-side:before {
    text-decoration: none;
}

.toggle:checked~.card-side:after {
    text-decoration: underline;
}

.flip-card__inner {
    width: 300px;
    height: 350px;
    position: relative;
    background-color: transparent;
    perspective: 1000px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.toggle:checked~.flip-card__inner {
    transform: rotateY(180deg);
}

.toggle:checked~.flip-card__front {
    box-shadow: none;
}

.flip-card__front,
.flip-card__back {
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: transparent;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.flip-card__back {
    width: 100%;
    /* transform: rotateY(180deg); */
}

.flip-card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title {
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: var(--main-color);
}

.flip-card__input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: transparent;
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
    text-align: end;
}

.flip-card__input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

.flip-card__btn:active,
.button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

.flip-card__btn {
    margin: 20px 0 20px 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: transparent;
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}

.okmassage {
    position: absolute;
    top: -80px;
    left: 50%;
    transition: 0.3s;
    transform: translate(-50%, 50%);
    z-index: 999;
    background-color: rgb(255, 255, 255);
    border: 2px solid #323232;
    box-shadow: 4px 4px #323232;
    border-radius: 4px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.flip-card__input::-webkit-outer-spin-button,
.flip-card__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}