@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Cairo:wght@200..1000&family=Rubik+Storm&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: 'Cairo', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-weight: 900;
    user-select: none;
}

:root {
    --main--color: #2f4f44;
    --second--color: rgba(255 127 80);
    --text--color: rgb(255, 255, 255);
    --text2--color: rgb(255, 255, 255);
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background-color: rgb(220, 245, 227);
    background: url(../Pictures/mathboard.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 0px;
}

header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 15px 20px;
    color: var(--text--color);
    font-size: 18px;
    z-index: 99999;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    top: 0;
}

header a {
    color: var(--main--color);
    font-weight: 1000;
    position: relative;
    margin-top: -11px;
}

header .logo::before {
    content: "في الفيزياء";
    position: absolute;
    top: 21px;
    font-size: 11px;
    right: 0;
    font-weight: 900;
    color: #006943;
}

header i {
    margin-left: 7px;
    font-size: 1.5em;
    color: var(--main--color);
    text-decoration: underline;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3px;
}

.logo-button {
    display: none;
    background-color: var(--main--color);
    color: var(--text2--color);
    padding: 6px 20px;
    border: none;
    border-radius: 1000px;
    transition: 0.2s;
    font-weight: 900;
    margin: 0;
    font-size: 13px;
    border: 2px solid var(--main--color);
}

.logo-button:hover {
    border: 2px solid var(--main--color);
    background-color: white;
    color: var(--main--color);
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.main h1 {
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(45deg, #3975ff, #ee0979);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.26);
}

.main h2 {
    padding: 15px 70px;
    font-size: 20px;
    color: var(--text--color);
    font-family: 'Rubik', sans-serif;
}

.cssbuttons-io-button {
    transform: scale(1.02);
    background: #2f4f44;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    margin: 0px auto;
    padding-left: 3.2em;
    padding-right: 0.7em;
    font-size: 17px;
    font-weight: 700;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #85eec9;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: #467464;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #2d4b41;
    left: -0.7em;
    transition: all 0.3s;
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: white;
}

.cssbuttons-io-button span {
    font-size: 15px;
}

.main .info {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.04);
    padding: 20px 30px;
    width: calc(100% - 30px);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 20px rgba(0 0 0 / 20%);
}

.main h4 {
    font-size: 15px;
    text-align: end;
    color: var(--text--color);
    color: white;
    margin-bottom: 5px;
    position: relative;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.main h4::before {
    content: "❜❜";
    position: absolute;
    font-size: 60px;
    right: -40px;
    color: var(--main--color);
    color: white;
    top: -65px;
}

.main h5 {
    text-align: end;
    font-size: 11px;
    color: var(--text--color);
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: -15px;
    background-color: #000000;
    color: #f5f5f5;
    transform: scale(0.8);
}

.btn:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.btn .text {
    transform: translateX(70px);
}

.btn:hover .icon {
    width: 175px;
}

.btn:hover .text {
    transition: all 0.5s;
    opacity: 0;
}

.btn:focus {
    outline: none;
}

.btn:active .icon {
    transform: scale(0.85);
}

.settings-box {
    padding: 15px;
    position: fixed;
    transition: all 0.3s;
    left: -250px;
    top: 69px;
    z-index: 99;
    width: 250px;
    height: calc(100vh - 69px);
    background-color: rgb(255, 255, 255);
    text-align: end;
}

.full-close {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.753);
    width: 100%;
    display: none;
    z-index: 9;
    top: 0;
    height: 100%;
}

.settings-box .i {
    width: 50%;
    color: #467464;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    font-size: 70px;
    align-items: center;
}

.settings-box p {
    margin: 20px 0;
    margin-top: 30px;
    background-color: #00694323;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    width: calc(100% + 0px);
    border-radius: 4px;
    padding: 10px 15px;
    color: #ffffff;
    background: url(../Pictures/mathboard\ -\ Menu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 10px #00000091;
    border: 3px solid rgb(249, 255, 251);
    outline: 3px solid #000000;
}

.settings-box span {
    font-size: 0.85em;
    display: block;
    font-family: 'Rubik', sans-serif;
    color: rgb(255, 255, 255);
}

.settings-box a {
    width: 100%;
    display: block;
    background-color: white;
    border-radius: 4px;
    color: #2d4b41;
    margin: 7px auto;
    border: none;
    border-bottom: 3px solid #2d4b41;
    padding: 5px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.settings-box button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #2d4b41;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    border: 2px solid #2d4b41;
    color: white;
    border-radius: 4px;
}

.why-we {
    width: 100%;
    padding: 20px 0;
    padding-bottom: 50px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    direction: rtl;
    position: relative;
    padding-top: 120px;
}

.why-we h2 {
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(45deg, #3975ff, #ee0979);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 50%;
    top: 65px;
    transform: translate(-50%, -50%);
}

.why-we .card {
    flex-direction: column;
    background-color: #2d4b41;
    width: 90%;
    height: 150px;
    margin: 12px auto;
    border-radius: 4px;
    border: 3px solid white;
    outline: 3px solid #2d4b41;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    position: relative;
    transition: 0.3s;
    overflow: hidden;
}

.why-we .card span {
    position: absolute;
    transition: 0.3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    color: #46746462;
    font-size: 600px;
    z-index: 9;
    font-family: "Rubik", sans-serif;
    font-weight: 1000;
}

.why-we .card h1 {
    font-size: 20px;
    z-index: 99;
}

footer {
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    padding-bottom: 40px;
    padding-top: 120px;
    position: relative;
    background: url(../Pictures/mathboard\ -\ Footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer .info {
    display: flex;
    justify-content: space-around;
    align-items: start;
    text-align: end;
}

footer .info p {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: -35px;
}

footer .info a {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 900;
    font-size: 14px;
    position: relative;
}

footer .info a i {
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
    top: 4px;
}

footer .info .card {
    margin: 5px;
    display: block;
}

footer h3 {
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-top: 17px;
    font-family: "Bitcount Single", sans-serif;
    font-weight: 400;
    color: #ffffff;
}

footer .Logo {
    position: absolute;
    left: calc(50% - 25px);
    top: 60px;
    transform: translate(-50%, -50%) scale(1.6);
}

footer .Logo a {
    color: rgb(255, 255, 255);
}

footer .Logo i {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    position: absolute;
    top: 8px;
    margin-left: 5px;
    font-size: 1.5em;
    text-decoration: underline;
}

footer .Logo::before {
    content: "في الفيزياء";
    position: absolute;
    top: 21px;
    width: 50px;
    font-size: 9px;
    right: 0;
    font-weight: 900;
    color: #ffffff;
}

footer h3 a {
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-top: 17px;
    font-family: "Bitcount Single", sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.coursesBox {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 20px;
}

.coursesBox .card {
    margin: 0 auto;
    width: 92%;
    margin-bottom: 20px;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    background-color: #fff;
    direction: rtl;
}

.coursesBox h1 {
    margin-bottom: 25px;
    direction: rtl;
    font-size: 30px;
    padding-right: 10px;
    text-align: center;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(45deg, #3975ff, #ee0979);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.coursesBox .card img {
    width: 100%;
    border-radius: inherit;
}

.coursesBox .card .title {
    margin-right: 15px;
    padding: 5px 0;
}

.coursesBox .card .info-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
}

.coursesBox .card .info-box span {
    color: #006943;
}

.coursesBox .card .info-box .date {
    color: rgb(0, 0, 0);
}

.coursesBox .card a {
    width: calc(100% - 5px);
    border-radius: inherit;
    margin: 0px auto;
    margin-top: 10px;
    display: block;
    text-align: center;
    padding: 10px 0;
    color: white;
    background: url(../Pictures/sky.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.more-info {
    margin: 5px auto;
    display: block;
    width: fit-content;
    padding: 5px 15px;
    color: white;
    border-radius: 4px;
    background-color: #2d4b41;
}

.idBTN{
    position: absolute;
    bottom: 60px;
}